.main video{
	height: 100vh;
	width: 100%;
	object-fit: cover;
}
.main .content{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	z-index: 1;
}
.main .content h1{
	margin-bottom: 30px;
}
.main .content .content-main{
	font-size: 40px;
	text-align: center;
}
.main .content button{
	margin-top: 30px;
	background: transparent;
	color: #07b907;
	padding: 10px 20px;
	letter-spacing: 2px;
	border: 1px solid #07b907;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 700px;
	cursor: pointer;
}
.main .content button:hover{
	color: white;
	background: #07b907;
	border: none;
}
.main .content .arrow-down{
    margin-top: 20px;
}
.main .content .arrow-down .icon{
	cursor: pointer;
    font-size: 28px;
    animation: arrow_down 3s infinite ease-in-out;
}
@keyframes arrow_down {
 0% {margin-top: 10px;opacity: 1}
 30% {margin-top: 15px;opacity: .7}
 70% {margin-top: 20px;opacity: .5}
 100% {margin-top: 25px;opacity: 0}
}