.navbar{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-content: center;
   align-items: center;
   margin: 0 20px;
   height: 70px;
}
.logo img{
    width: 130px;
    height: 130px;
}
.items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}
.items .item:hover{
	color: #07b907;
	cursor: pointer;
}
.icons{
	margin: 0;
	padding: 0;
}
.icons .icon{
	margin-right: 10px;
}
.icons .icon:hover{
	color: #07b907;
	cursor: pointer;
}